* {
  box-sizing: border-box;
  font-family: "Oxygen";
}
body {
  font-weight: 400;
}

#top_container{
  width: 100%;
  height:200px;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 10px;
}

.flexmenu {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  line-height: 3em;
  align-items: center;
  flex-flow: row;
  margin-bottom: 50px;
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
}
#logo{
  display: flex;
  margin-left: 3.5%;
  align-items: flex-start;
  margin-right: auto;
 cursor: pointer;
 }

.menu {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 25px;
  line-height: 1em;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin: 0 5px;
}
.menu a {
  justify-content: space-between;
  color: #000000;
  text-decoration: none;
}

.menu a:link{
  color:black;
}

.menu a:visited{
  color:black;
}

.menu a:hover{
  color:#808080;
  text-decoration: none;
}

.menu a:active{
  color:green;
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 12px;
  margin-left: auto;
  margin-right: 0;
}
.menu-icon {
  display: flex;
  font-size: 400%;
  cursor: pointer;
}

.close{
  display: flex;
  font-size: 275%;
}

.hide {
  display: none;
}
.show {
  display: flex;
  position: relative;
  top: -20px;
  margin: 5px;
}

@media screen and (min-width: 700px) { 
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
    margin:7px;
    top:1%;
  }
}


#top{
  display:flex;
  flex-direction: column;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  width:90%;
  margin:-75px 5% 0px 5%;
  padding: 5px 25px;
  font-size: 24px;
  }

@media screen and (max-width: 700px) {
  #top{
    font-size: 150%;
  }
}

#work{
  display: flex;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  width:90%;
  margin:0px 5% 100px 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

}

#gallery{
  display: flex;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  margin-top: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

@media screen and (max-width: 700px) {
  #gallery{
    flex-direction: column;
  }
}

#musaic{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:100%;
  background-image: url("bluenote.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#musaic:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    transition:0.3s;
}

#musaic h2{
  display: none;
}

#musaic:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#musaic p{
  display: none;
}

#musaic:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}

#sdt{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:100%;
  background-image: url("sdt.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#sdt:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    transition:0.3s;
}

#sdt h2{
  display: none;
}

#sdt:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#sdt p{
  display: none;
}

#sdt:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}

.work_item{
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  height: 200px;
  width:100%;
}

