@import url(//fonts.googleapis.com/css?family=Lato);

* {
  box-sizing: border-box;
  font-family: "Lato";
}

body {
  font-weight: 400;
  background-color: #fbfcfc;
}

#top_container{
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 10px;
}

.flexmenu {
  width: 100%;
  background-color:#fbfcfc;
  color: #000000;
  line-height: 1.8em;
  align-items: center;
  flex-flow: row;
  margin-bottom: 50px;
}
.flex {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3%;
  /*background-color: white;*/
}

#logo{
  display: flex;
    margin-left: 6%;
    align-items: flex-start;
    margin-right: auto;
    cursor: pointer;
    width: 75px;
 }

.menu {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 20px;
  line-height: 2em;
}
.menu:first-child {
  display: inline-flex;
  justify-content: left;
  width: 80%;
  margin-left: 0;
  margin-right: auto;
  margin: 0 5px;
}
.menu a {
  justify-content: space-between;
  color: #000000;
  text-decoration: none;
}

.menu a:link{
  color:black;
}

.menu a:visited{
  color:black;
}

.menu a:hover{
  color:#808080;
  text-decoration: none;
}

.menu a:active{
  color:green;
  text-decoration: none;
}

.mobile-menu {
  display: flex;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 12px;
  margin-left: auto;
  margin-right: 0;
}
.menu-icon {
  display: flex;
  font-size: 400%;
  cursor: pointer;
}

.close{
  display: flex;
  font-size: 275%;
}

.hide {
  display: none;
}
.show {
  display: flex;
  position: relative;
  margin: 5px;
}

@media screen and (min-width: 700px) { 
  .mobile-menu {
    display: none;
  }
  .flex {
    flex-direction: row;
  }
  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
    margin:7px;
    top:1%;
  }
}


#top{
  display:flex;
  position: relative;
  flex-direction: column;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  width:80%;
  margin:0px 20% 0px 5%;
  padding: 5px 25px;
}

#top_name{
  font-size: 30px;
  font-weight: bold;
}

#top_sub1{
	margin-top: -20px;
	font-size: 24px;
  font-weight: 500;
}

#top_sub2{
	margin: -20px 0px;
	font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 500px){
  #top_sub1,#top_sub2{
  font-size: 20px;
  }

}

#top p a:link{
  color:#06c;
  text-decoration: none;
}

#top p a:visited{
  color:#06c;
}

#top p a:hover{
  color:#808080;
  text-decoration: none;
}

#top p a:active{
  color:green;
  text-decoration: none;
}



@media screen and (max-width: 900px) {
  #logo{
    width:55px;
    margin-left: 7%;
  }
 /* #top{
    width: 90%;
  }*/
}

@media screen and (max-width: 700px) {
  #top{
    font-size:24px;
  }
}

@media screen and (max-width: 500px) {
  #top{
    padding: 0px;
  }
}

button{
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  border: 1px solid #0166CC;
  color: #0166CC;
  background-color: white;
  border-radius: 2px;
  font-size: 16px;
}

button:hover{
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  border: 1px solid #0166CC;
  color: white;
  background-color: #0166CC;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
  transition-duration:0.1s;
}

@media screen and (max-width: 900px) {
  button, button:hover{
    margin-top: -10px;
  }
}


#work{
  display: flex;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  width:90%;
  margin:0px 5% 100px 5%;
  padding: 5px 25px;
  flex-direction: column;

}

#work span{
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  #work span{
    font-size:18px;
  }
}


.item{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 900px) {
	.item{
		flex-direction: column;
	}
}

.proj_info{
	margin: auto;
}

.proj_info p{ 
	margin: auto;
	align-items: center;
}


.proj_info p span{ 
	font-size: 32px;
	margin: auto;
}

.proj_info_right{
	margin: auto;
}

.proj_info_right p{ 
	margin: auto;
	align-items: center;
}


.proj_info_right p span{ 
	font-size: 32px;
	margin: auto;
}

.left{
	display: none;
}

@media screen and (max-width: 900px) {
  .proj_info{
  	margin: 50px 30px;
    max-width: 100%;
  }

  .proj_info p{ 
	 margin-bottom: 30px;
  }

  .left{
  	display: flex;
    flex-direction: column;
	  margin: 50px 30px;
  }

  .left p{ 
	 margin-bottom: 30px;
	align-items: center;
  }


  .left p span{ 
	font-size: 32px;
	margin: auto;
  }

  .proj_info_right{
	display: none;
  }

}

@media screen and (max-width: 500px) {
  .proj_info{
    justify-content: center;
  }
  .proj_info p span{ 
    font-size: 24px;
  }
  .proj_info p{ 
    font-size: 20px;
    width:275px;
  }

  .left p span{ 
  font-size: 24px;
  margin: auto;
  }

  .left p{ 
  margin: 20px;
  align-items: center;
  }
}

#gallery{
  display: flex;
  /*border-style: solid;
  border-width: 2px;
  border-color: red;*/
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin: 50px 0px;
  padding: 0px 100px;
  padding-top: 50px;
}

@media screen and (max-width: 500px) {
  #gallery{
    padding: 5%;
  }
}

#musaic{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:50%;
  border: 2px solid #0066CC;
  margin: 50px 0px;
  background-image: url("bluenote.png");
 /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  transition-duration:0.25s;
}

@media screen and (max-width: 900px) {
  #musaic{
    background-size: 80%;
    background-repeat: repeat;
  }
}


#gallery #musaic:hover{
    -webkit-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    -moz-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    transition-duration: 0.25s;
}

/*#musaic:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
   transition:0.25s;
}*/

#musaic h2{
  display: none;
}

#musaic:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#musaic p{
  display: none;
}

#musaic:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}

#chla{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:50%;
  margin: 50px 0px;
  border: 2px solid #0066CC;
  background-image: url("chla.png");
  background-size: 30%;
  background-repeat: repeat;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
   -webkit-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  transition-duration:0.25s;
}

#gallery #chla:hover{
    -webkit-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    -moz-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    transition-duration: 0.25s;
}

/*#chla:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    transition:0.25s;
}*/

#chla h2{
  display: none;
}

#chla:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#chla p{
  display: none;
}

#chla:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}

@media screen and (max-width: 900px) {
  #chla{
   
  }
}

#sdt{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:50%;
  border: 2px solid #0066CC;
  margin: 50px 0px;
  background-image: url("sdt.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
   -webkit-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  transition-duration:0.25s;
}

#gallery #sdt:hover{
    -webkit-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    -moz-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    transition-duration: 0.25s;
}

/*#sdt:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
   transition:0.25s;
}*/

#sdt h2{
  display: none;
}

#sdt:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#sdt p{
  display: none;
}

#sdt:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}


#webmark{
  display: flex;
  position: relative;
  /*border-style: solid;
  border-width: 2px;
  border-color: blue;*/
  height: 200px;
  width:50%;
  border: 2px solid #0066CC;
  margin: 50px 0px;
  background-image: url("webmark.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
   -webkit-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  -moz-box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  box-shadow: 10px 37px 47px -10px rgba(0,0,0,0.33);
  transition-duration:0.25s;
}

#gallery #webmark:hover{
    -webkit-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    -moz-box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    box-shadow: 10px 37px 47px -10px rgba(55,55,55,1);
    transition-duration: 0.25s;
}

/*#webmark:hover{
   background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6));
    transition:0.25s;
}*/

#webmarl h2{
  display: none;
}

#webmark:hover h2{
  display: block;
  color: white;
   text-align: center;
}

#webmark p{
  display: none;
}

#webmark:hover p{
  display: block;
  color: white;
  align-content: center;
  justify-content: center;
   text-align: center;
}


.work_item{
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  height: 200px;
  width:100%;
}

@media screen and (max-width: 900px) {
  #musaic, #chla, #sdt, #webmark{
    margin: 0px 0px;
    width: 100%;
    border: none;
    align-self: center;
}

@media screen and (min-width: 600px) {
  #musaic, #chla, #sdt, #webmark{
    margin: 0px 0px;
    width: 100%;
}

/*ERIC SIEGEL*/
